@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon: Employee Client Management Portal</h1>
<h2>@Html.ActionLink("Click Here For Stylists", "Index", "Stylists")</h2>
<h4>Search Clients By Name</h4>
<p><i>(must be an exact match)</i></p>

@using (Html.BeginForm())
{
  <input type="text" name="search" />
  <input type="submit" value="Search" />
}